<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bad+Script" rel="stylesheet">
    <link rel="stylesheet" href="/style/typography.css">
    <link rel="stylesheet" href="/style/normalize.css">
    <link rel="stylesheet" href="/style/style.css">
<!--    <script async src="./script/jquery-3.4.1.js"></script>-->
    <script async src="/script/script.js"></script>
</head>
<body>
    <div class="root">
        <div class="container">
            {{#if error}}
                <h2>Error! </h2>
            {{/if}}
            <p>Hi there, after you finish with form please hit the Save button</p>
            <a href="/main">Go to main</a>
            <div class="addForm">
                {{#each data}}
                    <form action="/" method="POST" name="update">
                        <label class="hide">id
                            <input class="firstName" type="text" name="update[id]" value="{{emp_no}}" required>
                        </label>
                        <label>First name
                            <input class="firstName" type="text" name="update[firstName]" value="{{first_name}}" required>
                        </label>
                        <label>Last name
                            <input class="lastName" type="text" name="update[lastName]" value="{{last_name}}" required>
                        </label>
                        <label>Birth-date
                            <input class="birthDate" type="date" data-date-format="DD/MM/YYYY" name="update[birthDate]" data-date="{{birth_date}}"  required>
                        </label>
                        <label>Hire-date
                            <input class="hireDate" type="date" data-date-format="DD/MM/YYYY" name="update[hireDate]" data-date="{{hire_date}}" required>
                        </label>
                        <label>Gender
                            <input class="gender" list="mylist" name="update[gender]" value="{{gender}}" required>
                        </label>
                        <datalist id="mylist">
                            <option value="M" label="Male"></option>
                            <option value="F" label="Female"></option>
                        </datalist>
                        <button class="addBtn">Save</button>
                    </form>
                {{/each}}
            </div>
        </div>
    </div>
</body>