<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./style/typography.css">
    <link rel="stylesheet" href="./style/normalize.css">
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>
    <div class="entry">
        {{#if error}}
            <h2>Error! </h2>
        {{/if}}
        <form action="/" method="POST" name="news">
            <label>First name
                <input type="text" name="news[name]" required>
            </label>
            <label>Last name
                <input type="text" name="news[name]" required>
            </label>
            <label>Birth-date
                <input type="date" name="news[name]" required>
            </label>
            <label>Hire-date
                <input type="date" name="news[name]" required>
            </label>

            <button>Add</button>
        </form>
        <p>Employees list</p>
        <div class="employeesList">
            <ul class="people_list">
                {{#each data}}
                    <li>
                        <a href="news/{{emp_no}}">
                        {{emp_no}}
                        Name: {{last_name}} {{first_name}}
                        gender: {{ gender}}
                        </a>
                        <button>Remove</button>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</body>