<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BREAKING NEWS</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <div class="content">
        <div class="filer_panel">
            <h1>News filter panel</h1>
            <form action="/" method="post">
                <span>Language:</span>
                <select name="language" id="">
                    <option value="{{filter.language}}" selected>{{filter.language}}</option>
                    {{#each languageList}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
                <input type="submit" value="Filter">
            </form>
        </div>
        <ul class="news_titles">
            {{#each article}}
            <li class="title"><a href="{{url}}">{{title}}</a></li>
            {{/each}}
        </ul>
    </div>
</body>

</html>